.imageCard{
    margin: 1px;
    position: relative;
 
}

.imageCard > img {
    width: 100%;

}

.imageCard p {
    width:100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    padding:5px;
}